
.table {
  min-width: 600px;
}
.table-responsive {
  width: 100%;
  overflow-x: auto;
}


@media (max-width: 768px) {
  .head h2 {
    font-size: 1.5rem;
    
  }
  .head p{
    font-size: 0.9rem;
    margin-top: 0px;
    line-height: 1;
  }
  .head{
    margin-left: 40px;
  }
}
