<div class="head">
    <h2>Exam management</h2>
    <p class="text-muted">create and manage your exams</p>
</div>
<div class="table-responsive">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">exam title</th>
      <th scope="col">description</th>
      <th scope="col">duration</th>
      <th scope="col">questins</th>
      <th scope="col">pass score</th>
      <th scope="col">created</th>
      <th scope="col">actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>intro to js</td>
      <td>intro to js Lorem ipsum dolor sit amet consectetur</td>
      <td>30 min</td>
      <td>10</td>
      <td>70%</td>
      <td>2026-1-7</td>
      <td >
        <div class="btn-group btn-group-sm">
            <button class="btn btn-sm "><i class="fa-solid fa-gear"></i></button>
            <button class="btn btn-sm "><i class="fa-regular fa-pen-to-square"></i></button>
            <button class="btn btn-sm "><i class="fa-solid fa-trash-can"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus fugiat ipsum ab dolor consequuntur, ducimus dolorum blanditiis veritatis quae tenetur vero omnis repudiandae fugit reprehenderit unde, asperiores alias nisi suscipit.</p>
