.row,.icon-box{
    width: fit-content;
}
.row{
    background-color: white;
}
.form-group input{
    border-color: var(--border-color);
    outline-color: var(--primary-color);
    outline-width: 1px;
}
.back{
    cursor: pointer;
    color:rgb(74, 73, 73)
}
.back:hover{
    color:#000000
}
.input-group-text{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.form-box{
    width: 500px;
}
.small{
    font-size: smaller;
}
@media (max-width:576px) {
    .form-box{
        width: 100% ;
        padding: 20px !important;
    }
    .login-form{
        width: 90% !important;
    }

}