.left-icon svg, .right-icon span{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}
.right-icon span{
    font-size: small;
}
.card-body p{
    font-size:80%
}
.container{
    background-color: var(--background-color);
}
.exam-card{
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}
.exam-card:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)
}
.tablinks{
    background-color:var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin:0;
    transition: background-color 0.3s ease;
}
.left{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.right{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.active, .tablinks:hover{
    background-color: rgb(6, 6, 255);
}
