.sidebar {
  width: 260px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  padding: 1.5rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1050;
}

.sidebar.open {
  transform: translateX(0);
}

/* Overlay */
.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1040;
}
.nav-item:hover .nav-link {
  background-color: var(--primary-color);
  color: white;

}
/* Desktop behavior */
@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0);
    position: static;
    height: 100vh;
  }

  .sidebar-overlay {
    display: none;
  }
}
