<nav class="d-flex justify-content-between p-3">
    <div class="left-nav d-flex justify-content-between p-0">
        <div class="nav-icon me-3 p-2 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                 class="text-white" data-fg-dg3114="1.26:1.6703:/src/app/components/StudentExamList.tsx:75:15:2179:43:e:FileText::::::C86E">
                <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"></path>
                <path d="M14 2v4a2 2 0 0 0 2 2h4"></path>
                <path d="M10 9H8"></path>
                <path d="M16 13H8"></path>
                <path d="M16 17H8"></path>
            </svg>
        </div>
        <div class="header p-0">
            <h2>Exam portal</h2>
            <p>Student Dashboard</p>
        </div>
    </div>
    <div class="right-nav d-flex align-items-center">
        <div class="user d-flex align-items-center me-2">
            <div class="icon me-2 rounded-circle p-2">
                <i class="fa-regular fa-user fa-2x"></i>
            </div>
            <div class="info">
                <p class="mb-0">Rewan</p>
                <p class="mt-0 mail">rewan@example.com</p>
            </div>
        </div>
        <button class="btn btn-outline-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out w-4 h-4" data-fg-dg3130="1.26:1.6703:/src/app/components/StudentExamList.tsx:97:15:3160:30:e:LogOut::::::DOh">
                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                <polyline points="16 17 21 12 16 7"></polyline>
                <line x1="21" x2="9" y1="12" y2="12"></line>
            </svg> 
            Logout
        </button>
    </div>
</nav>
