<div class="head d-flex py-3">
    <div class="mb-4 text-start">
      <h3 class="fw-bold text-dark mb-1">Exam management</h3>
      <p class="text-muted small">create and manage your exams</p>
    </div>
    <div class="ms-auto new-exam-btn ">
        <button class="btn btn-primary text-center" routerLink="/doctorDashboard/exams/createNewExam">
            <i class="fa-solid fa-plus me-2"></i>
            <span >create new exam</span>
        </button>
    </div>
</div>

  @if (examsList().length) {
    <div class="card border-0 shadow-sm rounded-4 overflow-hidden">
    <div class="table-responsive">
      <table class="table table-hover align-middle mb-0">
        <thead class="bg-light text-muted small text-uppercase">
          <tr>
            <th scope="col" class="py-3">exam title</th>
            <th scope="col" class="py-3 text-center">description</th>
            <th scope="col" class="py-3">duration</th>
            <th scope="col" class="py-3">questins</th>
            <th scope="col" class="py-3">pass score</th>
            <th scope="col" class="py-3 text-center">created</th>
            <th scope="col" class="py-3">actions</th>
          </tr>
        </thead>
        <tbody>
          @for(exam of examsList();track exam._id){
            <tr>
              <td class="py-3">{{exam.title}}</td>
              <td class="py-3">{{exam.description}}</td>
              <td class="py-3 text-center">{{exam.duration}} min</td>
              <td class="py-3 text-center">{{exam.totalQuestions}}</td>
              <td class="py-3 text-center">{{exam.passingScore}}%</td>
              <td class="py-3 text-center">{{exam.dateOfCreation | date }}</td>
              <td class="py-3 text-center">
                <div class="btn-group btn-group-sm">
                    <!-- <button class="btn btn-sm text-primary"><i class="fa-solid fa-gear"></i></button> -->
                    <button class="btn btn-sm text-success" routerLink="/doctorDashboard/exams/editExam/{{exam._id}}"><i class="fa-regular fa-pen-to-square" ></i></button>
                    <button class="btn btn-sm text-danger" (click)="deleteExam(exam._id!)"><i class="fa-solid fa-trash-can"></i></button>
                </div>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="7" class="text-center py-5 text-muted">
                <i class="fa-solid fa-inbox fs-1 d-block mb-3 opacity-25"></i>
                No exam found yet.
              </td>
            </tr>
          }
  </tbody>
</table>
    </div>
    
  </div>
  } @else {
   <div class="spinner-border"></div>
  }
  




