/* تحويل المؤشر ليد عند الوقوف على الخيار */
.cursor-pointer {
  cursor: pointer !important;
}

/* التنسيق عند اختيار السؤال */
.active-option {
  border-color: #0d6efd !important;
  background-color: #f0f7ff !important; /* لون خلفية خفيف */
  box-shadow: 0 0 0 1px #0d6efd;
}


.radio-inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.2s ease;
}


.bg-primary {
  background-color: #0d6efd !important;
}


.option-card {
  user-select: none;
}