<div class="min-vh-100 bg-light">
  <nav class="navbar bg-white px-4 py-3 border-bottom">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <div>
        <h5 class="fw-bold mb-0">{{ currentExam()?.title }}</h5>
        <small class="text-muted">Question {{ currentQuestionIndex + 1 }} of {{ currentExam()?.totalQuestions }}</small>
      </div>
     
        <div class="timer-badge bg-primary-subtle text-primary px-3 py-2 rounded-pill fw-bold">
           <i class="fa-regular fa-clock me-2"></i>
            @if(remainingSeconds() !== 0) {
              {{ displayTime() }}
            } @else {
              <span>--:--</span> }
        </div>
      

    </div>
  </nav>

  <div class="progress rounded-0" style="height: 6px;">
    <div class="progress-bar bg-primary" role="progressbar" 
         [style.width]="((currentQuestionIndex + 1) / (currentExam()?.totalQuestions ?? 0) ) * 100 + '%'"></div>
  </div>

  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="card border-0 shadow-sm p-4 p-md-5 rounded-4">
          
  @for(question of currentExam()?.questions; track $index) {
            @if(currentQuestionIndex === $index) {
                        <div class="d-flex gap-3 mb-4">
            <span class="badge bg-primary-subtle text-primary d-flex align-items-center justify-content-center rounded-3" 
                  style="width: 40px; height: 40px; font-size: 1.1rem;">
              {{ currentQuestionIndex + 1 }}
            </span>
            <h5 class="fw-semibold mt-2 text-dark">{{ question.questionText }}</h5>
          </div>

          <div class="options-container d-flex flex-column gap-3">
             @for(option of question.options; track $index; let i = $index) {
               <div class="option-card p-3 border rounded-3 d-flex align-items-center gap-3 cursor-pointer transition-all"
                    [class.active-option]="userAnswers[currentQuestionIndex] === option"
                    (click)="selectAnswer(option)">
                 
                 <div class="custom-radio">
                    <div class="radio-inner" [class.bg-primary]="userAnswers[currentQuestionIndex] === option"></div>
                 </div>
           
                 <span class="badge bg-light text-muted border px-3 py-2 rounded-3 text-uppercase">
                   {{ getLetter(i) }}
                 </span>
                 
                 <span class="text-secondary fw-medium">{{ option }}</span>
               </div>
             }
           </div>
            }
        }
        </div>

        <div class="d-flex justify-content-between align-items-center mt-4">
          <button class="btn btn-outline-secondary px-4 py-2 rounded-3 fw-medium bg-white" [disabled]="currentQuestionIndex === 0" (click)="prev()">
            <i class="fa-solid fa-chevron-left me-2 small"></i> Previous
          </button>
          
          <span class="text-muted small text-center">{{ currentQuestionIndex+1 }} of {{ currentExam()?.totalQuestions }} answered</span>
          @if((currentQuestionIndex+1) < (currentExam()?.totalQuestions?? 0)) {
            <button class="btn btn-primary px-4 py-2 rounded-3 fw-medium shadow-sm" [disabled]="(currentQuestionIndex+1) === currentExam()?.totalQuestions" (click)="next()">
            Next <i class="fa-solid fa-chevron-right ms-2 small"></i>
          </button>
          }@else {
            <button class="btn btn-success py-2 rounded-3 fw-medium shadow-sm" (click)="submitExam( currentExamId()!, userAnswers)" [disabled]="(userAnswers.length !== (currentExam()?.questions?.length)) || isSubmitting() === true">
            Submit Exam <i class="fa-solid fa-check ms-2 small"></i>
            </button>
         }

          
        </div>

      </div>
    </div>
  </div>
</div>




