.auth-card{
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    width: 400px;
    cursor: pointer;
}
.auth-card button, .icon{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-color: var(--secondary-color);
}
.icon{
    font-size: 40px;
}
.auth-card:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-color: var(--primary-color);
}
.auth-card:hover button, .auth-card:hover .icon{
    background-color: var(--primary-color);
    color: #ffffff;
}
@media (max-width:425px) {
    .auth-card{
        width: 300px ;
        padding: 20px;
    }
}